<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/fragments/head :: head}"></head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Thông Tin Tài Khoản</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <div class="card-footer">
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-box-arrow-right"></i> Đăng Xuất
                                    </button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <!--        dữ liệu thực hiện trong secsion-->
            <section class="row">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div>
                               <h1>iiiiiiiiiiiiiiiiiii</h1>
                                <h1>ttttttttttttttjuu</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </div>
        <!-- Footer-->
        <div>
            <footer th:replace="/admin/fragments/footer :: footer"></footer>
        </div>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script th:inline="javascript">
    </script>
</div>
</body>
</html>
