.arrow-qa {
    display: inline-block;
    position: relative;
    padding: 150px 150px; /* Khoảng cách giữa văn bản và mũi tên */
    color: #5A8DEE; /* Màu chữ */
    background-color: transparent; /* Không có nền, sẽ dùng mũi tên làm nền */

}

.arrow-qa::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%; /* Đưa mũi tên ra ngoài bên phải */
    margin-top: -21px; /* Canh giữa mũi tên theo chiều dọc */
    border-width: 21px; /* Kích thước mũi tên */
    border-style: solid;
    border-color: transparent transparent transparent; /* Mũi tên chỉ có màu bên phải */
}

/* Màu sắc cho từng trạng thái */
.bg-success-qa::after {
    border-color: transparent transparent transparent #0056b3; /* Màu xanh lá cho "Chờ xác nhận" */
}

.bg-primary-qa::after {
    border-color: transparent transparent transparent #007bff; /* Màu xanh dương cho "Đã xác nhận" */
}

.bg-info-qa::after {
    border-color: transparent transparent transparent #17a2b8; /* Màu xanh nước cho "Đang vận chuyển" */
}
/**/
table tbody {
    display: block;
    max-height: 350px; /* Thay đổi chiều cao tối đa của tbody */
    overflow-y: auto;
    width: 100%;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
/*Theo dõi đơn hàng*/
.row-ls {
    display: flex;             /* Sắp xếp các phần tử con theo hàng ngang */
    flex-wrap: nowrap;         /* Ngăn không cho các phần tử xuống dòng */
    overflow-x: auto;          /* Thêm thanh cuộn ngang nếu không vừa màn hình */
}

/*.input-group input {*/
/*    margin-right: 10px;*/
/*    width: 22%;*/
/*}*/

/*.input-group .form-control {*/
/*    height: 40px;*/
/*}*/
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #FFFFFF;
    color: #1a1a1a;
    padding: 10px 15px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Ẩn mặc định */
    width: auto; /* Đặt chiều rộng cố định nếu cần */
    height: 100px;
    display: flex; /* Kích hoạt flexbox */
    flex-direction: column; /* Sắp xếp nội dung theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều dọc */
    text-align: center; /* Căn giữa văn bản */
    gap: 10px; /* Khoảng cách giữa các phần tử */
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6e7881; /* Màu đỏ */
    animation: progress 3s linear forwards;
}

@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}








