<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/admin/fragments/head :: head}"></head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>
    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Nút bấm</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <div class="card" style="position: absolute; top: 10px; right: 10px; width: 100px;">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none; color: inherit; text-decoration: none;">
                                    <img th:src="@{${nhanVienInfo.hinhAnh}}" alt="Avatar" class="rounded-circle" width="60" height="60">
                                </button>
                                <ul class="dropdown-menu" style="background-color: #f8f9fa; border-color: #ccc;">
                                    <li>
                                        <div class="dropdown-item" style="color: #333;">
                                            <strong>Thông tin nhân viên</strong><br>
                                            Tên: <span th:text="${nhanVienInfo.ten}"></span><br>
                                            Email: <span th:text="${nhanVienInfo.email}"></span><br>
                                            Chức vụ: <span th:text="${nhanVienInfo.chucVu.viTri}"></span>
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li style="text-align: center">
                                        <form th:action="@{/logout}" method="post">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="bi bi-box-arrow-right"></i> Đăng Xuất
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <!--        dữ liệu thực hiện trong seccion-->
            <section class="row">
                <div class="card">
                    <div class="card-header">
                        <form method="get" action="/admin/thuoc-tinh/nut-bam/view" th:object="${listHang}" style="padding-bottom: 20px">
                            <div class="row">
                                <div class="col-5">
                                    <input type="text" id="searchInput" class="form-control" name="ten_nut_bam"
                                           placeholder="Nhập nút bấm..." th:value="${param.ten_nut_bam}">
                                </div>
                                <div class="col-5">
                                    <select id="trangThai" name="trang_thai" class="form-select">
                                        <option value="" th:selected="${trang_thai == null}">Tất cả trạng thái</option>
                                        <option value="true" th:selected="${trang_thai == true}">Hoạt động</option>
                                        <option value="false" th:selected="${trang_thai == false}">Không hoạt động</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary" type="submit" id="sbmt">
                                        <i class="bi bi-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalThemMoi">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div th:if="${#lists.isEmpty(listTT.content)}" class="d-flex flex-column justify-content-center align-items-center" style="height: 400px;">
                        <img src="https://shop.nebulacare.in/Content/Images/nodata.jpg" style="max-height: 400px;">
                    </div>
                    <div th:if="${!#lists.isEmpty(listTT.content)}" class="card-body">
                        <table class="table table-striped table-bordered dataTable-table" id="table1">
                            <thead>
                            <tr>
                                <th data-sortable="" style="width: 20%;">
                                    <a href="#" class="dataTable-sorter">STT</a>
                                </th>
                                <th data-sortable="" style="width: 30%;">
                                    <a href="#" class="dataTable-sorter">Tên Nút bấm</a>
                                </th>
                                <th data-sortable="" style="width: 30%;">
                                    <a href="#" class="dataTable-sorter">Trạng thái</a>
                                </th>
                                <th data-sortable="" style="width: 20%;">
                                    <a href="#" class="dataTable-sorter">Hành động</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="tt, iter : ${listTT.content}" th:data-id="${tt.id}">
                                <td style="text-align: center" th:text="${(listTT.number * listTT.size) + iter.index + 1}"></td>
                                <td th:text="${tt.ten}"></td>
                                <td style="text-align: center">
                                    <span th:if="${tt.trang_thai}" class="badge bg-light-success">Hoạt động</span>
                                    <span th:unless="${tt.trang_thai}" class="badge bg-light-danger"> Không hoạt động</span>
                                </td>
                                <td style="text-align: center">
                                    <button class="btn btn-primary thayDoiTrangThai" th:attr="data-id=${tt.id}">
                                        <i class="bi bi-arrow-left-right"></i>
                                    </button>
                                    <button class="btn btn-warning hienThiThongTinModal" th:attr="data-id=${tt.id}" data-bs-toggle="modal" data-bs-target="#modalChinhSua">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <!-- Nút Trang đầu -->
                                <li class="page-item" th:classappend="${listTT.first ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{'/admin/thuoc-tinh/nut-bam/view?page=0&ten_nut_bam=' + ${ten_nut_bam} + '&trang_thai=' + ${trang_thai} + '&maxPrice=' + ${maxPrice}}"
                                       aria-label="Trang đầu">
                                        <span aria-hidden="true">««</span>
                                        <span class="sr-only">Trang đầu</span>
                                    </a>
                                </li>
                                <!-- trang trước -->
                                <li class="page-item" th:classappend="${listTT.first ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{'/admin/thuoc-tinh/nut-bam/view?page=' + ${listTT.number - 1} + '&ten_nut_bam=' + ${ten_nut_bam} + '&trang_thai=' + ${trang_thai}}"
                                       aria-label="Previous" th:if="${!listTT.first}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Trang trước</span>
                                    </a>
                                </li>
                                <!-- số trang -->
                                <li class="page-item"
                                    th:each="i : ${#numbers.sequence(T(java.lang.Math).max(0, listTT.number - 2), T(java.lang.Math).min(listTT.totalPages - 1, listTT.number + 2))}"
                                    th:classappend="${i == listTT.number ? 'active' : ''}">
                                    <a class="page-link"
                                       th:href="@{'/admin/thuoc-tinh/nut-bam/view?page=' + ${i >= 0 ? i : 0} +  '&ten_nut_bam=' + ${ten_nut_bam} + '&trang_thai=' + ${trang_thai}}"
                                       th:text="${i + 1}"></a>
                                </li>
                                <!-- trang sau -->
                                <li class="page-item" th:classappend="${listTT.last ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{'/admin/thuoc-tinh/nut-bam/view?page=' + ${listTT.number + 1} + '&ten_nut_bam=' + ${ten_nut_bam} + '&trang_thai=' + ${trang_thai}}"
                                       aria-label="Next" th:if="${!listTT.last}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Trang sau</span>
                                    </a>
                                </li>
                                <!-- Trang cuối -->
                                <li class="page-item" th:classappend="${listTT.last ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{'/admin/thuoc-tinh/nut-bam/view?page=' + ${listTT.totalPages - 1} + '&ten_nut_bam=' + ${ten_nut_bam} + '&trang_thai=' + ${trang_thai}}"
                                       aria-label="Trang cuối">
                                        <span aria-hidden="true">»»</span>
                                        <span class="sr-only">Trang cuối</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--    thêm-->
    <div class="modal fade" id="modalThemMoi" tabindex="-1" aria-labelledby="modalThemMoiLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalThemMoiLabel">Thêm Mới Nút bấm</h5>
                </div>
                <div class="modal-body">
                    <form id="addNutBam" method="post" action="/admin/thuoc-tinh/nut-bam/addNutBam">
                        <div class="mb-3">
                            <label for="ten_nut_bam" class="form-label">Tên nút bấm</label>
                            <input type="text" class="form-control" id="ten_nut_bam" name="ten_nut_bam" placeholder="Nhập tên nút bấm">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-success">
                                <i class="bi bi-floppy"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
                                <i class="bi bi-x"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--    chỉnh sửa-->
    <div class="modal fade" id="modalChinhSua" tabindex="-1" aria-labelledby="modalChinhSuaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalChinhSuaLabel">Chỉnh sửa nút bấm</h5>
                </div>
                <div class="modal-body">
                    <form id="updateKieuQuat" method="post" action="/admin/thuoc-tinh/nut-bam/update">
                        <input type="hidden" id="nutBamId" name="id">
                        <div class="mb-3">
                            <label for="ten_nut_bamUpdate" class="form-label">Tên nút bấm</label>
                            <input type="text" class="form-control" id="ten_nut_bamUpdate" name="ten_nut_bam_update" placeholder="Nhập tên nút bấm mới">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-success">
                                <i class="bi bi-floppy"></i> Lưu
                            </button>
                            <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
                                <i class="bi bi-x"></i> Hủy
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
    <!--    đổi trạng thái-->
    <script>
        $(document).on('click', '.thayDoiTrangThai', function () {
            const id = $(this).data('id');

            Swal.fire({
                title: 'Bạn có chắc muốn đổi trạng thái?',
                text: "Thao tác này sẽ thay đổi trạng thái nút bấm!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/admin/thuoc-tinh/nut-bam/doi-trang-thai/${id}`,
                        type: 'POST',
                        success: function () {
                            Swal.fire({
                                toast: true,
                                icon: 'success',
                                title: 'Nút bấm thay đổi trạng thái thành công.',
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true
                            }).then(() => {
                                location.reload();
                            });
                        },
                        error: function(xhr) {
                            Swal.fire({
                                toast: true,
                                icon: 'error',
                                title: xhr.responseText,  // Thông báo lỗi trả về từ controller
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true
                            });
                        }
                    });
                }
            });
        });
    </script>
    <!--    THông báo thêm-->
    <script>
        $('#addNutBam').on('submit', function (e) {
            e.preventDefault(); // Ngăn form thực hiện submit mặc định

            const ten_nut_bam = $('#ten_nut_bam').val();

            $.ajax({
                url: '/admin/thuoc-tinh/nut-bam/addNutBam',
                type: 'POST',
                data: { ten_nut_bam: ten_nut_bam },
                success: function (response) {
                    Swal.fire({
                        toast: true,
                        icon: 'success',
                        title: response, // Thông báo thành công từ server
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: true
                    }).then(() => {
                        location.reload();
                    });
                },
                error: function(xhr) {
                    Swal.fire({
                        toast: true,
                        icon: 'error',
                        title: xhr.responseText, // Thông báo lỗi trả về từ controller
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                }
            });
        });
    </script>
    <!--    lấy thoogn tin để cập nhật-->
    <script>
        $(document).on('click', '.hienThiThongTinModal', function () {
            const id = $(this).data('id');
            console.log("ID lấy được:", id);
            $('#nutBamId').val(id); // Gắn ID vào input ẩn trong form

            $.ajax({
                url: `/admin/thuoc-tinh/nut-bam/detail/${id}`,
                type: 'GET',
                success: function (response) {
                    console.log("Response:", response);
                    $('#nutBamId').val(response.id);
                    $('#ten_nut_bamUpdate').val(response.ten);
                },
                error: function (xhr) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Không thể lấy thông tin chi tiết nút bấm.',
                        text: xhr.responseText
                    });
                }
            });
        });
    </script>
    <!--    cap nhật-->
    <script>
        $('#updateKieuQuat').on('submit', function (e) {
            e.preventDefault(); // Ngăn submit mặc định của form

            const nutBamId = $('#nutBamId').val();
            const ten_nut_bam = $('#ten_nut_bamUpdate').val();

            $.ajax({
                url: `/admin/thuoc-tinh/nut-bam/update`,
                type: 'POST',
                data: {
                    id: nutBamId,
                    ten_nut_bam_update: ten_nut_bam
                },
                success: function (response) {
                    Swal.fire({
                        toast: true,
                        icon: 'success',
                        title: response, // Thông báo thành công từ server
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: true
                    }).then(() => {
                        location.reload();
                    });
                },
                error: function (xhr) {
                    Swal.fire({
                        toast: true,
                        icon: 'error',
                        title: xhr.responseText, // Thông báo lỗi từ server
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                }
            });
        });
    </script>
</div>
</body>
</html>
